.dashboard-container
  %h2 About the Trial

  %p
    The Impact of
    = "<strong>Lo</strong>w".html_safe
    = "<strong>F</strong>low".html_safe
    Nocturnal Oxygen
    = "<strong>T</strong>herapy".html_safe
    on Hospital Admissions and Mortality in Patients with Heart Failure and
    Central Sleep Apnea (LOFTHF) study is a research study for patients with heart
    failure and a specific type of sleep apnea, central sleep apnea (CSA).
    This project is designed to find out whether nighttime oxygen therapy improves
    heart failure and well-being in patients with heart failure and CSA.
