%h2.mb-4.ml-4
  Participate

.dashboard-container
  .brand-title
    Why you may choose to participate:

  %p
    Many people with heart failure also have central sleep apnea (CSA). Sleep
    apnea is a disorder where breathing pauses occur during sleep. Sleep apnea
    can cause poor sleep quality and worsen heart function. However, there are no
    documented effective treatments for patients with heart failure and CSA.
    Nighttime use of supplemental oxygen may improve heart failure and general
    health, but has not been rigorously studied. The LOFT-HF study is designed to
    help us understand how to better treat patients with heart failure who have
    sleep apnea.

  %p During this study you will:
  %ul
    %li Learn more about sleep disorders and treatments for CSA
    %li Help doctors learn more about CSA in patients with heart failure

.dashboard-container
  .brand-title Who may participate:
  %ul
    %li Adults over 21 years of age who have been diagnosed with heart failure

.dashboard-container
  .brand-title What is involved (randomization):
  %p
    Participants will be assessed for CSA based on a prior sleep study or an
    at-home sleep study completed during study participation. Individuals will
    then be randomly placed into one of two groups:
  %ul
    %li Using enriched oxygen during sleep at night
    %li Using room-air level oxygen during sleep at night

.dashboard-container
  .brand-title All participants will receive:
  %ul
    %li Information about sleep habits and how to use the study equipment
    %li
      Up to 4 daytime study visits (can be done by phone), which will include:
      %ul
        %li Gathering of information about your medical history
        %li Participant questionnaires
        %li Instruction on use of study equipment

    %li
      Periodic phone calls to review:
      %ul
        %li Any changes in medications
        %li Any changes in health
        %li Experience using study treatment

.dashboard-container
  .brand-title Please keep in mind:
  %ul
    %li Participation is voluntary.
    %li You are free to withdraw from this study at any time.
    %li We encourage you to ask questions, and express all of your concerns.
    %li Your health is important to us.
    %li We will reimburse you for your time
