- @theme = "deep-red"

.page-box.last-box{ class: "theme-#{@theme}-focus-bg" }
  .text-center.p-5.mb-5
    = image_tag "logos/loft-logo-v1-no-background.png", style: "max-width: 800px;width: 100%;height: auto;", class: "img-ignore-selection rounded"

  .text-center.text-shadow.mx-auto{ class: @theme != "default" ? "text-white" : nil, style: "font-size: 2rem;max-width: 800px;" }
    The Impact of Low Flow Oxygen Therapy on Hospital Admissions and Mortality
    in Patients with Heart Failure and Central Sleep Apnea
