- @theme = "deep-red"

.page-box.last-box.d-flex.align-items-center{ class: "theme-#{@theme}-focus-bg" }
  .container
    .text-center.px-5.mb-5
      = image_tag "logos/loft-v2-logo-no-background.png", style: "max-width: 400px;width: 100%;height: auto;", class: "img-ignore-selection rounded"

    .landing-study-title
      The Impact of Low Flow Nocturnal Oxygen Therapy on Hospital Admissions and
      Mortality in Patients with Heart Failure and Central Sleep Apnea
