- @title = "Report Card"

- @theme = "default"
- content_for :header, @title
= render "internal/tabs"
- content_for :sidebar, render("internal/sidebar")

- if false
  .jumbotron.jumbotron-white.jumbotron-shadow
    .p-3
      .d-inline-block.p-3{ style: "font-size: 1.5rem;width: 100px;" }
        %strong Site 1
      .d-inline-block.text-center{ style: "width: 100px;" }
        .d-inline-block.px-3.py-2.text-white.rounded.border.shadow.bg-success{ style: "font-size: 2rem;" }
          A
      .d-inline-block.p-3
        .small.text-primary-muted 94%

    .p-3
      .d-inline-block.p-3{ style: "font-size: 1.5rem;width: 100px;" }
        %strong Site 2
      .d-inline-block.text-center{ style: "width: 100px;" }
        .d-inline-block.px-3.py-2.text-white.rounded.border.shadow.bg-success{ style: "font-size: 2rem;" }
          A+
      .d-inline-block.p-3
        .small.text-primary-muted 98%

    .p-3
      .d-inline-block.p-3{ style: "font-size: 1.5rem;width: 100px;" }
        %strong Site 3
      .d-inline-block.text-center{ style: "width: 100px;" }
        .d-inline-block.px-3.py-2.text-white.rounded.border.shadow.bg-warning{ style: "font-size: 2rem;" }
          B
      .d-inline-block.p-3
        .small.text-primary-muted 87%

.jumbotron.jumbotron-custom-text.jumbotron-shadow
  = icon("fas", "info-circle", class: "text-primary-muted")

  Data collection has not yet started.
