= form_with model: video, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: video, key: :name, autocomplete: "off", autocorrect: "off", autocapitalize: "none", spellcheck: "false"
  = render "forms/horizontal/text_field", form: form, object: video, key: :embed_url, help_text: sanitize("Example: https://www.youtube.com/embed/<strong>VIDEOID</strong>"), autocomplete: "off", autocorrect: "off", autocapitalize: "none", spellcheck: "false"
  = render "forms/horizontal/submit", form: form, object: video
