-# General
%meta{ name: "description", content: "The Impact of Low Flow Oxygen Therapy on Hospital Admissions and Mortality in Patients with Heart Failure and Central Sleep Apnea website." }
%meta{ name: "author", content: "Remo Mueller" }
%meta{ name: "keywords", content: @keywords.present? ? @keywords : "sleep apnea, low flow oxygen therapy, heart failure, clinical trial, central sleep apnea, research study" }
%meta{ name: "format-detection", content: "telephone=no" }
